body {
    font-family: Tahoma, serif;
    display: grid;
    max-width: 1170px;
    margin: auto;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
}

header {
    display: grid;
    grid-template-rows: 120px;
    background: #997dba;
    border-bottom: none;
}

#logo {
    font-family: 'Germania One', cursive;
    margin: 0;
    padding: 0 0 0 3em;
    display: grid;
    text-align: left;
    align-items: center;
}
#logo>a{
    text-decoration: none;
    color: black;
}

main {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    display: grid;
    background: #997dba;
}

aside {
    font-family: 'Germania One', cursive;
    width: 10em;
    font-size: 22px;
}

aside > ul {
    padding: 0;
    text-align: center;
}

aside > ul > li {
    list-style-type: none;
    padding-top: 1em;
    border-bottom: 1px solid silver;
}

aside > ul > li a {
    color: black;
    text-decoration: none;
}

aside > ul :hover {
    background-color: #d3c6e1;
}

#content {
    margin-right: 0.5em;
    padding: 1em 2em 3em 4em;
    grid-column: 2;
    border: 1px solid #997dba;
    border-radius: 30px;
    box-sizing: border-box;
    background: #fcfbfd;
    background: linear-gradient(to bottom, rgba(252, 251, 253, 1) 0%, rgba(252, 251, 253, 1) 85%, rgba(211, 198, 225, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfbfd', endColorstr='#d3c6e1', GradientType=0);
}

footer {
    font-family: 'Germania One', cursive;
    position: inherit;
    height: 5.7em;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #997dba;
    border-top: none;
    grid-row: 3;
}

